---

Data Mining Assignment 03.

Due Date: 5 Ordibehesht 1395, before 10:00 AM.

Rename the file so that it contains the names of the members of the group.

Email the .ipynb file to "taherian.khu@gmail.com".

Do not forget to choose DM_Assignment03_names as email subject

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 3 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) 

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [75]:
def get_list_of_university_towns():
    text_file = open('university_towns.txt', 'r')
    lines = text_file.readlines()
    laststate='';ln=[];df = pd.DataFrame(columns =["State", "RegionName"])
    for l in lines:
        if '[edit]' in l:
            laststate=(l.split('[')[0]).strip()
        else:
            df.loc[len(df)]=[laststate,(l.split('(')[0]).strip()]
    return df
get_list_of_university_towns().head(6)

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo
5  Alabama          Troy

In [100]:
def get_recession_start():
#     '''Returns the year and quarter of the recession start time
    global gdp
    gdp=pd.read_excel('gdplev.xls', skiprows = 7)
    gdp.columns=range(0,8)
    return gdp
get_recession_start()

          0      1       2   3       4        5        6   7
0    1929.0  104.6  1056.6 NaN  1947q1    243.1   1934.5 NaN
1    1930.0   92.2   966.7 NaN  1947q2    246.3   1932.3 NaN
2    1931.0   77.4   904.8 NaN  1947q3    250.1   1930.3 NaN
3    1932.0   59.5   788.2 NaN  1947q4    260.3   1960.7 NaN
4    1933.0   57.2   778.3 NaN  1948q1    266.2   1989.5 NaN
5    1934.0   66.8   862.2 NaN  1948q2    272.9   2021.9 NaN
6    1935.0   74.3   939.0 NaN  1948q3    279.5   2033.2 NaN
7    1936.0   84.9  1060.5 NaN  1948q4    280.7   2035.3 NaN
8    1937.0   93.0  1114.6 NaN  1949q1    275.4   2007.5 NaN
9    1938.0   87.4  1077.7 NaN  1949q2    271.7   2000.8 NaN
10   1939.0   93.5  1163.6 NaN  1949q3    273.3   2022.8 NaN
11   1940.0  102.9  1266.1 NaN  1949q4    271.0   2004.7 NaN
12   1941.0  129.4  1490.3 NaN  1950q1    281.2   2084.6 NaN
13   1942.0  166.0  1771.8 NaN  1950q2    290.7   2147.6 NaN
14   1943.0  203.1  2073.7 NaN  1950q3    308.5   2230.4 NaN
15   1944.0  224.6  2239.4 NaN  1950q4    320.3   2273.4 NaN
16   1945.0  228.2  2217.8 NaN  1951q1    336.4   2304.5 NaN
17   1946.0  227.8  1960.9 NaN  1951q2    344.5   2344.5 NaN
18   1947.0  249.9  1939.4 NaN  1951q3    351.8   2392.8 NaN
19   1948.0  274.8  2020.0 NaN  1951q4    356.6   2398.1 NaN
20   1949.0  272.8  2008.9 NaN  1952q1    360.2   2423.5 NaN
21   1950.0  300.2  2184.0 NaN  1952q2    361.4   2428.5 NaN
22   1951.0  347.3  2360.0 NaN  1952q3    368.1   2446.1 NaN
23   1952.0  367.7  2456.1 NaN  1952q4    381.2   2526.4 NaN
24   1953.0  389.7  2571.4 NaN  1953q1    388.5   2573.4 NaN
25   1954.0  391.1  2556.9 NaN  1953q2    392.3   2593.5 NaN
26   1955.0  426.2  2739.0 NaN  1953q3    391.7   2578.9 NaN
27   1956.0  450.1  2797.4 NaN  1953q4    386.5   2539.8 NaN
28   1957.0  474.9  2856.3 NaN  1954q1    385.9   2528.0 NaN
29   1958.0  482.0  2835.3 NaN  1954q2    386.7   2530.7 NaN
..      ...    ...     ...  ..     ...      ...      ...  ..
248     NaN    NaN     NaN NaN  2009q1  14383.9  14375.0 NaN
249     NaN    NaN     NaN NaN  2009q2  14340.4  14355.6 NaN
250     NaN    NaN     NaN NaN  2009q3  14384.1  14402.5 NaN
251     NaN    NaN     NaN NaN  2009q4  14566.5  14541.9 NaN
252     NaN    NaN     NaN NaN  2010q1  14681.1  14604.8 NaN
253     NaN    NaN     NaN NaN  2010q2  14888.6  14745.9 NaN
254     NaN    NaN     NaN NaN  2010q3  15057.7  14845.5 NaN
255     NaN    NaN     NaN NaN  2010q4  15230.2  14939.0 NaN
256     NaN    NaN     NaN NaN  2011q1  15238.4  14881.3 NaN
257     NaN    NaN     NaN NaN  2011q2  15460.9  14989.6 NaN
258     NaN    NaN     NaN NaN  2011q3  15587.1  15021.1 NaN
259     NaN    NaN     NaN NaN  2011q4  15785.3  15190.3 NaN
260     NaN    NaN     NaN NaN  2012q1  15973.9  15291.0 NaN
261     NaN    NaN     NaN NaN  2012q2  16121.9  15362.4 NaN
262     NaN    NaN     NaN NaN  2012q3  16227.9  15380.8 NaN
263     NaN    NaN     NaN NaN  2012q4  16297.3  15384.3 NaN
264     NaN    NaN     NaN NaN  2013q1  16475.4  15491.9 NaN
265     NaN    NaN     NaN NaN  2013q2  16541.4  15521.6 NaN
266     NaN    NaN     NaN NaN  2013q3  16749.3  15641.3 NaN
267     NaN    NaN     NaN NaN  2013q4  16999.9  15793.9 NaN
268     NaN    NaN     NaN NaN  2014q1  17025.2  15747.0 NaN
269     NaN    NaN     NaN NaN  2014q2  17285.6  15900.8 NaN
270     NaN    NaN     NaN NaN  2014q3  17569.4  16094.5 NaN
271     NaN    NaN     NaN NaN  2014q4  17692.2  16186.7 NaN
272     NaN    NaN     NaN NaN  2015q1  17783.6  16269.0 NaN
273     NaN    NaN     NaN NaN  2015q2  17998.3  16374.2 NaN
274     NaN    NaN     NaN NaN  2015q3  18141.9  16454.9 NaN
275     NaN    NaN     NaN NaN  2015q4  18222.8  16490.7 NaN
276     NaN    NaN     NaN NaN  2016q1  18281.6  16525.0 NaN
277     NaN    NaN     NaN NaN  2016q2  18450.1  16583.1 NaN

[278 rows x 8 columns]

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [6]:
def get_recession_bottom():
# recession bottom time 
    
    return "ANSWER"

In [7]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [8]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"