# Series

In [ ]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [ ]:
obj = Series([2,4,6,8])
obj

In [ ]:
obj.values

In [ ]:
obj.index

In [ ]:
rainDrop = Series([20, 2, 0, 50], index = ["Tehran", "Semnan", "Garmsar", "Rasht"])
rainDrop

In [ ]:
rainDrop['Semnan']

In [ ]:
rainDrop > 2

In [ ]:
rainDrop[rainDrop > 2]

In [ ]:
'Semnan' in rainDrop

In [ ]:
rainDrop_dict = rainDrop.to_dict()
rainDrop_dict

In [ ]:
rainDrop = Series(rainDrop_dict)
rainDrop

In [ ]:
cities = ["Semnan", "Tehran", "Qazvin", "Rasht", "Qom", "Shiraz"]

obj2 = Series(rainDrop, cities)
obj2

In [ ]:
obj2 = Series(rainDrop_dict, cities)
obj2

In [ ]:
pd.isnull(obj2)

In [ ]:
rainDrop + obj2

In [ ]:
rainDrop.name = "Rain Drops of Cities"
rainDrop

In [ ]:
rainDrop.index.name = "Cities"
rainDrop

# DataFrame

In [ ]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/Iran_national_football_team'
webbrowser.open(website)

In [ ]:
footballFrame = pd.read_clipboard()
footballFrame

In [ ]:
DataFrame(footballFrame, columns = ["GS", "Dif"])

In [ ]:
DataFrame(footballFrame, columns = ["GS", "Dif", "oooo"])

In [ ]:
footballFrame.Round

In [ ]:
footballFrame.ix[3]

In [ ]:
footballFrame['Studium'] = np.arange(5)
footballFrame

In [ ]:
del footballFrame['Studium']
footballFrame

In [ ]:
data = {'City': ['Semnan', 'Tehran', 'Shiraz'], 'Drop': [2, 10, 5]}
rainFrame = DataFrame(data)
rainFrame

# visit DataFrame documentation for several ways to make data frames

# Index Objects

In [ ]:
mySeries = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
mySeries

In [ ]:
myIndex = mySeries.index
myIndex

In [ ]:
myIndex[1]

In [ ]:
myIndex[1:]

In [ ]:
myIndex[0] = 'Z'

# Reindexing

In [ ]:
mySeries

In [ ]:
mySeries2 = mySeries.reindex(['A', 'B', 'D', 'Z'])
mySeries2

In [ ]:
mySeries2.reindex(['A', 'B', 'D', 'Z', 'W'], fill_value = 0)

In [ ]:
mySeries2

In [ ]:
mySeries3 = Series(["Tehran", "Tabriz", "Shiraz", "Semnan"], index = [0,3, 6,9])
mySeries3

In [ ]:
mySeries3.reindex(range(11), method = 'ffill')
#forward filling

In [ ]:
mySeries3.reindex(range(11), method = 'bfill')
#backward filling

In [ ]:
from numpy.random import randn

dframe = DataFrame(randn(24).reshape(4, 6), index = ['A', 'B', 'C', 'D'], 
                  columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6'])
dframe

In [ ]:
dframe.reindex(['A', 'B', 'D', 'E'])

In [ ]:
dframe.reindex(columns = ['col4', 'col1', 'col7'])

In [ ]:
#reindexing indices and columns at the same time
dframe.ix[['A', 'B', 'Z'], ['col1', 'col3', 'col8']]

# Drop Entry

In [ ]:
ser1 = Series(range(3), index = ['A', 'B', 'C'])
ser1

In [ ]:
ser1.drop('B')

In [ ]:
ser1

In [ ]:
dframe1 = DataFrame(randn(9).reshape(3,3), index = ['Semnan', 'Tehran', 'Shiraz'],
                   columns = ['pop', 'size', 'year'])
dframe1

In [ ]:
dframe2 = dframe1.drop('Tehran')
dframe2

In [ ]:
dframe1.drop('year', axis = 1)

# Selecting Entries

In [ ]:
ser1 = Series(np.arange(3), index = ['A', 'B', 'C'])
ser1 = 2 * ser1
ser1

In [ ]:
ser1['B']

In [ ]:
ser1[1]

In [ ]:
ser1[1:]

In [ ]:
ser1[['C', 'A']]

In [ ]:
ser1 > 3

In [ ]:
ser1[ser1 > 3]

In [ ]:
dframe = DataFrame(np.arange(12).reshape(3, 4), index = ['Semnan', 'Tehran', 'Shiraz'],
                  columns = ['A', 'B', 'C', 'D'])

In [ ]:
dframe['B']

In [ ]:
dframe[['B', 'D']]

In [ ]:
dframe

In [ ]:
dframe[dframe['C']> 2]

In [ ]:
dframe > 5

In [ ]:
dframe.ix['Semnan']

In [ ]:
dframe.ix[1]

In [ ]:
dframe.ix[['Semnan','Tehran'],['B','C']]

# Data Alignment

In [ ]:
ser1 = Series([1,2,3], index = ['A', 'B', 'C'])
ser1

In [ ]:
ser2 = Series([3, 4, 5, 6], index = ['A', 'B', 'C', 'D'])
ser2

In [ ]:
ser1 + ser2

In [ ]:
dframe1 = DataFrame(np.arange(4).reshape((2, 2)), index = ['Semnan', 'Tehran'], columns = list('AB'))
dframe1

In [ ]:
dframe2 = DataFrame(np.arange(9).reshape(3, 3), columns = list('BCD'), index = ['Semnan', 'Qom', 'Tehran'])
dframe2

In [ ]:
dframe1 + dframe2

In [ ]:
dframe1.add(dframe2)

In [ ]:
dframe1.add(dframe2, fill_value = 0)

In [ ]:
ser3 = dframe2.ix[0]

In [ ]:
dframe2

In [ ]:
dframe2 - ser3

# Rank and Sort

In [ ]:
ser1 = Series([2, 1,0], index = list('CAB'))
ser1

In [ ]:
ser1.sort_index()

In [ ]:
ser1.sort_values()

In [ ]:
ser3 = Series(np.random.randn(10))
ser3

In [ ]:
ser3.sort_values(inplace = True)
ser3

In [ ]:
ser3.rank()

In [ ]:
s3 = Series(np.random.randn(10))
s3

In [ ]:
s3.rank()

In [ ]:
s3.sort_values(inplace = True)
s3.rank()

# Summary Statistics

In [ ]:
arr1 = np.array([[1, 2, np.nan], [np.nan, 3, 4]])
arr1

In [ ]:
dframe1 = DataFrame(arr1, index = ['A', 'B'], columns = ['one', 'two','three'])
dframe1

In [ ]:
dframe1.sum()

In [ ]:
dframe1.sum(axis = 1)

In [ ]:
dframe1.min()

In [ ]:
dframe1.min(axis = 1)

In [ ]:
dframe1

In [ ]:
dframe1.idxmin()
# index of minimum value

In [ ]:
dframe1

In [ ]:
#cumulative summation
dframe1.cumsum()

In [ ]:
dframe1.cumsum(axis = 1)

In [ ]:
dframe1.describe()

In [ ]:
import pandas.io.data as pyweb
import datetime

In [ ]:
prices = pyweb.get_data_yahoo(['CVX', 'XOM', 'BP'], start = datetime.datetime(2010, 1, 1),
                             end = datetime.datetime(2013, 1, 1))['Adj Close']
prices.head()

In [ ]:
volume = pyweb.get_data_yahoo(['CVX', 'XOM', 'BP'], start = datetime.datetime(2010, 1, 1),
                             end = datetime.datetime(2013, 1, 1))['Volume']
volume.head()

In [ ]:
%matplotlib inline
prices.plot()

In [ ]:
ser1 = Series(list("zzdftgzft"))
ser1

In [ ]:
ser1.unique()

In [ ]:
ser1.value_counts()